@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #222;
  color: white;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

h1 {
  margin-top: 1em;
  font-size: 2em;
  line-height: 1.6;
  font-family: cursive;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: capitalize;
}

h2 {
  margin-top: 1.3em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
  /* text-transform: uppercase; */
}

.title,
.artist {
  font-size: 1em;
  opacity: 0.95;
  color: #e0e7e9;
  margin: 0.6em;
  font-family: 'Fondamento', cursive;
}

.by {
  font-size: 0.7em;
  opacity: 0.95;
  color: #e0e7e9;
  font-family: 'Fondamento', cursive;
}

iframe {
  margin: auto;
  display: inline-block;
  /* width: 95%; */
  /* height: 350px; */
  width: 323.9856px;
  height: 181.7856px;
}

#player {
  margin-top: 1em;
  margin-bottom: 2.8em;
  box-sizing: content-box;
  /* padding: 2em; */
  /* border-radius: 2em; */
  /* box-shadow: 
  -2px -2px 14px 0 rgba(255, 255, 255, 0.2),
  2px 2px 14px 0 rgba(0,0,0, 1); */
  /* margin-top: 2.5em; */
  box-shadow: 
  5px 5px 11px 2px rgba(0, 0, 0, 1),
  -3px -3px 11px 0 rgba(90, 90, 90, 0.4);
}

.container {
  margin: auto;
  width: 360px;
  box-sizing: content-box;
  padding-top: 0.1em;
  border-radius: 2em;
  margin-top: 2.5em;
}


/*
original dimensions:
  width: 359.984px;
  height: 201.984px;

*/

.message {
  max-width: 92%;
  margin: auto;
  padding-bottom: 2.8em;
  display: none;
  color: red;
  font-style: italic;
  font-size: 1em;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 1.6;
}

input {
  width: 20em;
  padding: .3em;
  margin-top: 3em;
  text-align: center;
  background-color: #e0e7e9;
  color: #222;
  border: none;
  border-radius: 3em;
  box-shadow: 
  5px 5px 11px 2px rgba(0, 0, 0, 1),
  -3px -3px 11px 0 rgba(90, 90, 90, 0.4);
  font-size: 0.8em;
  font-family: 'Fondamento', cursive;
}

input:focus {
  /* box-shadow: inset #000 0 0 1px; */
  box-shadow: 
  5px 5px 11px 2px rgba(255, 255, 255, 0.2),
  -3px -3px 11px 0 rgba(0, 0, 0, 1);
  outline: none;
}

button {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2.5em;
  padding: 0.5em;
}

/* .addButton {
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 20px 6px rgba(0,0,0, 1);
} */

.addButton:hover {
  cursor: pointer;
}

/* .addButton:focus {
  box-shadow: inset #000 0 0 6px;
  outline: none;
} */

.addButton {
  margin-top: 2.5em;
  background-color: #222;
  color: #e0e7e9;
  border: none;
  border-radius: 3em;
  padding: 1em;
  box-shadow: 
  5px 5px 11px 2px rgba(0, 0, 0, 1),
  -3px -3px 11px 0 rgba(90, 90, 90, 0.4);
  transition: all 0.3s ease-in-out;
  font-size: 0.8em;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 800;
  text-transform: uppercase;
}

.addButton:hover{
  letter-spacing: 1px;
  box-shadow: 
  -9px -9px 29px 9px rgba(90, 90, 90, 0.4),
  5px 5px 9px 9px rgba(0, 0, 0, 1);

}

.addButton:active {
  box-shadow: 
  5px 5px 11px 2px rgba(255, 255, 255, 0.2),
  -3px -3px 11px 0 rgba(0, 0, 0, 1);
  outline: none;
  transition: 0.1s ease-in-out;
}

.addButton:focus {
  outline: none;
}



.songInQue {
  /* max-width: 92%; */
  width: 330px;
  height: 5em;
  /* background: #e0e7e9; */
  /* color: black; */
  margin: auto;
  margin-bottom: 1em;
  text-align: left;
  display: flex;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 20px;
  -webkit-transform: skew(-10deg);
    /* box-shadow: 
    -2px -2px 14px 0 rgba(255, 255, 255, 0.2),
    2px 2px 14px 0 rgba(0,0,0, 1); */
    box-shadow: 
    5px 5px 11px 2px rgba(0, 0, 0, 1),
    -3px -3px 11px 0 rgba(90, 90, 90, 0.4);
    margin-top: 2.5em;
}

.songInQue p {
  /* margin-top: .6em;
  margin-bottom: .6em; */
  margin-left: .5em;
}

/* .songInQue:nth-child(odd) {
  background: #a3c6c4;
} */

.songData {
  /* background: blue; */
  color: #e0e7e9;
  opacity: 0.95;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 0.8em;
  font-family: 'Fondamento', cursive;
}

.navButtons {
  position: absolute;
  bottom: 0;
  right: 0.5em;
}

.navButtons img {
  margin: 0.5em;
  width: 1.3em;
  cursor: pointer;
}

.navButtons img:nth-child(3n) {
  width: 2em;
  vertical-align: bottom;
}

.inProgress {
  color: red;
  font-style: italic;
  font-size: 1.3em;
  font-family: 'Gloria Hallelujah', cursive;
}

/*
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons span {
  margin-top: .3em;
  margin-bottom: .3em;
  margin-right: .5em;
}
*/


@media(min-width: 42.3em) {
  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.6em;
  }

  .title, .artist {
    font-size: 1.1em;
  }

  .by {
    font-size: 0.8em;
  }

  .message {
    margin-bottom: 3em;
    font-size: 1em;
  }

  input {
    font-size: .9em;
  }

  .addButton{
    font-size: .9em;
  }

  .songData {
    font-size: .9em;
  }

  .songInQue p {
    margin-left: .7em;
  }

  .songInQue {
    /* max-width: 70%; */
    width: 500px;
    height: 5.2em;
  }

  .container {
    width: 520px;
    box-shadow: 
    5px 5px 11px 2px rgba(0, 0, 0, 1),
    -3px -3px 11px 0 rgba(90, 90, 90, 0.4);  
  }

  iframe {
    width: 431.9808px;
    height: 242.3808px;
    }
}

@media(min-width: 57.7125em) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.7em;
  }

  .title, .artist {
    font-size: 1.2em;
  }

  .by {
    font-size: 0.9em;
  }

  .message {
    margin-bottom: 3em;
    font-size: 1.1em;
  }


  input {
    font-size: 1em;
  }

  .addButton{
    font-size: 1em;
  }

  .songData {
    font-size: 1em;
  }

  .songInQue p {
    margin-left: .9em;
  }

  .songInQue {
    /* max-width: 55%; */
    width: 600px;
    height: 5.3em;
  }

  .container {
    width: 620px;
  }

  iframe {
    /* width: 431.9808px;
    height: 242.3808px; */

    width: 539.976px;
    height: 302.976px;
  }
}

@media(min-width: 84.6em) {
  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.8em;
  }

  .title, .artist {
    font-size: 1.3em;
  }

  .by {
    font-size: 1em;
  }

  .message {
    margin-bottom: 3em;
    font-size: 1.2em;
  }

  input {
    font-size: 1.1em;
  }

  .addButton{
    font-size: 1.1em;
  }

  .songData {
    font-size: 1.1em;
  }

  .songInQue p {
    margin-left: 1.2em;
  }

  .songInQue {
    /* max-width: 40%; */
    width: 770px;
    height: 5.4em;
  }

  .container {
    width: 790px;
  }

  iframe {

    /* width: 485.9784px;
    height: 272.6784px; */

    /* width: 539.976px;
    height: 302.976px; */

    width: 719.968px;
    height: 403.968px;
    }
}