* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: black;
  color: white;
}

h1 {
  margin-top: 0.5em;
}

h2 {
  margin-top: 2em;
  margin-bottom: .5em;
}

.title,
.artist {
  font-size: 1.1em;
}

.by {
  font-size: 0.8em;
}

iframe {
  padding-top: 1em;
  margin: auto;
  display: inline-block;
  width: 323.9856px;
  height: 181.7856px;
}

/*
original dimensions:
  width: 359.984px;
  height: 201.984px;

*/

.message {
  margin-top: 3em;
  visibility: hidden;
}

input {
  width: 20em;
  height: 1.5em;
  margin-top: 4em;
}

button {
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2.5em;
  padding: 0.5em;
}

.songInQue {
  max-width: 95%;
  height: 5em;
  background: white;
  color: black;
  margin: auto;
  margin-bottom: 1em;
  text-align: left;
  display: flex;
}

.songData {
  /* background: blue; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons span {
  margin-top: .3em;
  margin-bottom: .3em;
  margin-right: .5em;
}

.songInQue p {
  /* margin-top: .6em;
  margin-bottom: .6em; */
  margin-left: .5em;
}


@media(min-width: 42.3em) {
  .songInQue {
    max-width: 70%;
  }

  iframe {
    width: 431.9808px;
    height: 242.3808px;
    }
}

@media(min-width: 57.7125em) {
  .songInQue {
    max-width: 55%;
  }

  iframe {
    width: 539.976px;
    height: 302.976px;
  }
}

@media(min-width: 84.6em) {
  .songInQue {
    max-width: 40%;
  }

  iframe {
    width: 719.968px;
    height: 403.968px;
    }
}